.modal-box {
    box-sizing: border-box;
    margin: 25px;
    border-radius: 15px;
}

.modal-box-title {
    margin: 25px 65px;
}

.modal-btn-container {
    display: flex;
    justify-content: space-evenly;
    /* margin: 10px 80px; */
}

.modal-btn-container .modal-btn-sure {
    font-size: medium;
    font-weight: 600;
    padding: 5px 20px;
    /* margin-left: 15px; */
    border: 1px solid black;
    border-radius: 5px;
    /* background: rgb(97, 145, 97); */
}

.modal-btn-container .modal-btn-cancle {
    font-size: medium;
    font-weight: 600;
    padding: 5px 20px;
    /* margin-left: 30px; */
    border: 1px solid black;
    border-radius: 5px;
    /* background: rgb(205, 67, 67); */
}